*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --border-radius: 0.5rem;

  /* COLORS */
  --color-white: rgba(252, 252, 252, 0.87);
  --color-black: #242424;

  /* Palette 1 */
  --color-prussian-blue: #003049ff;
  --color-fire-engine-red: #d62828ff;
  --color-orange-wheel: #f77f00ff;
  --color-xanthous: #fcbf49ff;
  --color-vanilla: #eae2b7ff;

  /* Palette 2 */
  --black: #000000ff;
  --color-oxford-blue: #14213dff;
  --color-orange-web: #fca311ff;
  --color-platinum: #e5e5e5ff;
  --color-white: #ffffffff;


  /*Palette 4*/
  /* CSS HEX */
  --color-seasalt: #f8f9faff;
  --color-antiflash-white: #e9ecefff;
  --color-french-gray: #ced4daff;
  --color-french-gray-2: #adb5bdff;
  --color-slate-gray: #6c757dff;
  --color-outer-space: #495057ff;
  --color-onyx: #343a40ff;
  --color-eerie-black: #212529ff;

  /*Palette 5*/
  --duke-blue: #390099ff;
  --murrey: #9e0059ff;
  --folly: #ff0054ff;
  --orange-pantone: #ff5400ff;
  --amber: #ffbd00ff;


  /* SCHEME */
  --color-primary: var(--color-outer-space);
  --color-secondary: var(--color-onyx);
  --color-tertiary: var(--color-french-gray);
  --color-accent: var(--color-seasalt);
  --color-neutral: var(--color-eerie-black);

  /* Font */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 1em;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-neutral);
}


/* Heading scales - Major thirds */
h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .small-text {font-size: 0.8rem;}
/* Heading scales - end */


.input, button, .clickable {
  border: 1px solid transparent;
  transition: border-color 0.25s;
}

.input, button {
  border-radius: 8px;
  background-color: var(--color-accent);
  color: var(--color-neutral);
  font-size: 1rem;
}


button {
  cursor: pointer;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-size: 1em;
  font-family: inherit;
}

.input:hover, button:hover, .clickable:hover {
  border-color: var(--color-accent);
}

.clickable:focus,
.input:focus,
.input:focus-visible
button:focus,
button:focus-visible {
  outline: 4px auto var(--color-accent);
  outline-offset: 2px;
}

#app {
  max-width: 2560px;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  flex: 1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Utility Classes */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.two-column {
  grid-template-columns: 1fr 1fr;
}

.small-gap {
  gap: 1rem;
}

.centered {
  justify-items: center;
  align-items: center;
}

.even-grow > * {
  flex-basis: 100%;
}

.pointer:hover {
  cursor: pointer;
}
